version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: lartun_application
    volumes:
      - .:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:1.20
    container_name: lartun_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:5.7
    container_name: lartun_mysql
    environment:
      MYSQL_DATABASE: lartun
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: lartun_account
      MYSQL_PASSWORD: lartun_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  mysql_data: